#main-navigation {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 12em;
	width: 4em;
}

#main-navigation ul {
	display: none;
	margin: 1.5em;
	padding: 0;
	list-style: none;
}

#main-navigation li {
	font-family: "Circular Std Medium";
	font-size: var(--txt-h2);
	line-height: 1.25;
}

#main-navigation a {
	color: var(--black);
	letter-spacing: -0.025em;
	text-decoration: none;
	transition: color .3s;
}

#main-navigation a:hover,
#main-navigation a:active {
	color: var(--white);
}

#main-navigation a.active {
	color: var(--white);
}

#logo {
	background: var(--foreground) var(--logo);
	background-size: 12em;
	transition: background .3s;
	height: 4em;
	width: 4em;
}

/* >= 480px */
@media only screen and (min-width: 30em) {
	
}

/* >= 880px */
@media only screen and (min-width: 55em) {
	#main-navigation {
		height: 24em;
		width: 12em;
	}

	#main-navigation ul {
		display: block;
	}

	#logo {
		height: 12em;
		width: 12em;
	}
}