---
layout: default
---

<main>
	<section id="intro">
		<header id="hero">
			<svg class="icon-logo">
				<use href="#icon-logo"></use>
			</svg>
			<div class="row">
				<svg class="left-corner">
					<use href="#left-corner"></use>
				</svg>
				<div class="text">
					<h1>Guilherme Almeida<br /><span>UI/UX Designer</span><br /><span>Game Developer</span></h1>
				</div>
				<svg class="right-corner">
					<use href="#right-corner"></use>
				</svg>
			</div>
		</header>
		<div id="cta">
			<a class="cta-button" href="{{ '/#product-design' | relative_url }}"><span>{{ page.button-portfolio | default: 'Missing label'}}</span></a>
			<a class="cta-button" href="{{ 'https://www.linkedin.com/in/guilherme-odai/' | absolute_url }}" target="_blank" rel="noopener noreferrer"><span>{{ page.button-linkedin | default: 'Missing label'}}
					<svg class="icon-linkedin">
						<use href="#icon-linkedin"></use>
					</svg>
				</span>
			</a>
			<a class="cta-button" href="{{ '/about/' | relative_url }}"><span>{{ page.button-about | default: 'Missing label'}}</span></a>
		</div>
	</section>

	{% if site.portfolio-projects and site.portfolio-projects.size > 0 %}
	<section id="product-design" class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.projects-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.projects-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign featured = site.portfolio-projects | where: "featured", true | sort: "order" %}
		{% assign not_featured = site.portfolio-projects | where_exp: "item", "item.featured != true" | sort: "order" %}
		{% assign projects = featured | concat: not_featured %}
		<div class="col-8">
			<div class="sample-portfolio-grid">
				{% for item in projects limit:2 %}
				<article class="portfolio-card">
					<a href="{{ item.url }}" class="portfolio-card-link">
						<div class="portfolio-card-image">
							<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
						</div>
						<div class="portfolio-card-info">
							<h3>{{ item.title }}</h3>
							<ul>
								<li><small>Description (Platforms)</small> {{ item.summary-description | default: '—' }}</li>
								<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
								<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
							</ul>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			{% if site.portfolio-projects.size > 2 %}
			<div class="accordion-wrapper">
				<button class="accordion-button"><span>{{ page.projects-all | default: 'Missing label'}}</span></button>
				<div class="accordion-content" inert>
					<div class="sample-portfolio-grid">
						{% for item in projects offset:2 %}
						<article class="portfolio-card">
							<a href="{{ item.url }}" class="portfolio-card-link">
								<div class="portfolio-card-image">
									<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
								</div>
								<div class="portfolio-card-info">
									<h3>{{ item.title }}</h3>
									<ul>
										<li><small>Description</small> {{ item.summary-description | default: '—' }}</li>
										<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
										<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
									</ul>
								</div>
							</a>
						</article>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</section>
	{% endif %}

	{% if site.portfolio-cases and site.portfolio-cases.size > 0 %}
	<section id="case-studies" class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.cases-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.cases-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign featured_cases = site.portfolio-cases | where: "featured", true | sort: "order" %}
		{% assign fallback_cases = site.portfolio-cases | sort: "order" %}

		{% if featured_cases.size > 0 %}
		{% assign cases = featured_cases %}
		{% else %}
		{% assign cases = fallback_cases %}
		{% endif %}
		<div class="col-8">
			<div class="sample-portfolio-grid">
				{% for item in cases limit:2 %}
				<article class="portfolio-card">
					<a href="{{ item.url }}" class="portfolio-card-link">
						<div class="portfolio-card-image">
							<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
						</div>
						<div class="portfolio-card-info">
							<h3>{{ item.title }}</h3>
							<ul>
								<li><small>Challenge</small> {{ item.card-problem | default: '—' }}</li>
								<li><small>Solution</small> {{ item.card-solution | default: '—' }}</li>
								<li><small>Outcome</small> {{ item.card-outcome | default: '—' }}</li>
							</ul>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			{% if site.portfolio-cases.size > 2 %}
			<div class="accordion-wrapper">
				<button class="accordion-button"><span>{{ page.cases-all | default: 'Missing label'}}</span></button>
				<div class="accordion-content" inert>
					<div class="sample-portfolio-grid">
						{% for item in cases offset:2 %}
						<article class="portfolio-card">
							<a href="{{ item.url }}" class="portfolio-card-link">
								<div class="portfolio-card-image">
									<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
								</div>
								<div class="portfolio-card-info">
									<h3>{{ item.title }}</h3>
									<ul>
										<li><small>Challenge</small> {{ item.summary-problem | default: '—' }}</li>
										<li><small>Solution</small> {{ item.summary-solution | default: '—' }}</li>
										<li><small>Outcome</small> {{ item.summary-outcome | default: '—' }}</li>
									</ul>
								</div>
							</a>
						</article>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</section>
	{% endif %}

	{% if site.portfolio-experiments and site.portfolio-experiments.size > 0 %}
	<section id="side-quests" class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.experiments-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.experiments-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign featured_experiment = site.portfolio-experiments | where: "featured", true | sort: "order" %}
		{% assign fallback_experiment = site.portfolio-experiments | sort: "order" %}

		{% if featured_experiment.size > 0 %}
		{% assign experiment = featured_experiment %}
		{% else %}
		{% assign experiment = fallback_experiment %}
		{% endif %}
		<div class="col-8">
			<div class="sample-portfolio-grid">
				{% for item in experiment limit:2 %}
				<article class="portfolio-card">
					<a href="{{ item.url }}" class="portfolio-card-link">
						<div class="portfolio-card-image">
							<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
						</div>
						<div class="portfolio-card-info">
							<h3>{{ item.title }}</h3>
							<ul>
								<li><small>Description</small> {{ item.summary-description | default: '—' }}</li>
								<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
								<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
							</ul>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			{% if site.portfolio-experiments.size > 2 %}
			<div class="accordion-wrapper">
				<button class="accordion-button"><span>{{ page.experiments-all | default: 'Missing label'}}</span></button>
				<div class="accordion-content" inert>
					<div class="sample-portfolio-grid">
						{% for item in experiment offset:2 %}
						<article class="portfolio-card">
							<a href="{{ item.url }}" class="portfolio-card-link">
								<div class="portfolio-card-image">
									<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
								</div>
								<div class="portfolio-card-info">
									<h3>{{ item.title }}</h3>
									<ul>
										<li><small>Description</small> {{ item.summary-description | default: '—' }}</li>
										<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
										<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
									</ul>
								</div>
							</a>
						</article>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</section>
	{% endif %}

	{% if site.posts and site.posts.size > 0 %}
	<!-- 	<section class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.articles-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.articles-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign blog = site.posts | sort: 'date' | reverse %}
		<div id="articles" class="col-8">
			<div class="sample-blog-grid">
				{% for post in blog limit:2 %}
				<article class="blog-card">
					<a href="{{ post.url }}" class="blog-card-link">
						<div class="blog-card-image">
							<img src="{{ post.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ post.title }} preview">
						</div>
						<div class="blog-card-info">
							<h3>{{ post.title }}</h3>
							<div class="blog-card-date">
								<svg class="icon-calendar">
									<use href="#icon-calendar"></use>
								</svg>
								<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %Y" }}</time>
							</div>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			<div class="more">
				<a href="{{ '/articles/' | relative_url }}"><span>{{ page.articles-all | default: 'Missing label'}}</span></a>
			</div>
		</div>
	</section> -->
	{% endif %}

	{% include footer.html %}
</main>

{% include home-scripts.html %}
{% include bonus-stage.html %}